{% extends "car_rent/base.html" %}
{% load static %}
{% block title %}
    Your car rent cart
{% endblock %}
{% block content %}
    <h1>Your car rent cart</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Image</th>
            <th>Car</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit cost</th>
            <th>Cost</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with car=item.car %}
                <tr>
                    <td>
                        <a href="{{ car.get_absolute_url }}">
                            <img src="
                                {% if car.image %}
                                    {{ car.image.url }}
                                {% else %}
                                    {% static "media/no_image.png" %}
                                {% endif %}">
                        </a>
                    </td>
                    <td>{{ car.brand }}</td>
                    <td>{{ item.quantity }}</td>
                    <td><a href="{% url 'cart:cart_remove' car.id %}">Remove</a></td>
                    <td>${{ item.rent_per_day }}</td>
                    <td>${{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        {% if cart.discount %}
            <tr class="subtotal">
                <td>Subtotal</td>
                <td colspan="4"></td>
                <td class="num">${{ cart.get_total_price }}</td>
            </tr>
            <tr>
                <td>
                    "{{ cart.discount.code }}" discount
                    ({{ cart.discount.discount }}% off)
                </td>
                <td colspan="4"></td>
                <td class="num neg">
                    - ${{ cart.get_discount|floatformat:"2" }}
                </td>
            </tr>
        {% endif %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">
                ${{ cart.get_total_price_after_discount|floatformat:"2" }}
            </td>
        </tr>
        </tbody>
    </table>
    <form action="{% url "discounts:apply" %}" method="post">
        {{ discount_apply_form }}
        <input type="submit" value="Apply">
        {% csrf_token %}
    </form>
    <p class="text-right">
        <a href="{% url "car_rent:car_list" %}" class="button light">Continue car renting</a>
        <a href="{% url "orders:order_create" %}" class="button">
            Checkout
        </a>
    </p>
{% endblock %}
