body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f0ffff;
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

article {
    width: 300px;
    margin: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #D6EAFF;
    border-radius: 5px;
}

img {
    width: 100%;
    height: auto;
}

.article {
    padding: 15px;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.short-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show before adding ellipsis */
    -webkit-box-orient: vertical;
}

.read-full {
    display: block;
    margin-top: 10px;
    text-align: right;
    text-decoration: none;
    color: #FF7F1C;
    font-weight: bold;
}
