<!DOCTYPE html>
{% extends "car_rent/base.html" %}
{% load static %}
<html lang="en">
{% block head %}
    <meta name="description" content="Page with home information"/>
    <meta name="author" content="Vadim Zhur"/>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
    <link href="{% static 'base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home.css' %}" />
{% endblock %}
{% block content %}
<h3>Advertisement</h3>
    {% for ad in advertisements %}
            <section class="item">
                <img src="{% if ad.image %}{{ ad.image.url }}{% endif %}"> <br>
                <a href="{{ ad.link }}">{{ ad.company_name }}</a><br>
                <!-- {{ ad.company_name }} <br> -->
                {{ ad.text }}
            </section>
    {% endfor %}
    <h3>Companies-Partners</h3>
    {% for company in companies %}
            <section class="company">
                <section class="image">
                    <img src="{% if company.image %}{{ company.image.url }}{% endif %}"> <br>
                </section>
                <section class="link">
                    <a href="{{ company.link }}">{{ company.company_name }}</a><br>
                </section>
            </section>
    {% endfor %}
    <h3>The last article</h3>
    <section class="article">
        {{ article.title }} <br>
        {{ article.date }} <br>
        {{ article.short }} <br>
        <img src="{% if article.image %}{{ article.image.url }}{% endif %}"> <br>
    </section>
{% endblock %}
</html>