<!DOCTYPE html>
{% extends "car_rent/base.html" %}
{% load static %}
<html lang="en">
{% block head %}
    <meta name="description" content="Page with JS tasks"/>
    <meta name="author" content="Vadim Zhur"/>
    <meta charset="UTF-8">
    <title>{% block title %}JS Sandbox{% endblock %}</title>
    <link href="{% static 'base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'js_sandbox.css' %}" />
{% endblock %}
{% block content %}
    <div id="countdown"></div>

    <section class="content">
    <h1>Welcome to Our Website</h1>
    <p>This is some information that should be hidden until age confirmation.</p>
    </section>

<script src="{% static 'js/timer.js'%}"></script>
{% endblock %}
</html>