<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Page with news" />
    <meta name="author" content="Vadim Zhur">
    <meta charset="UTF-8">
    <title>News</title>
</head>
<body>
    {% for article in news %}
            <section class="item">
                <strong>{{ article.title }} </strong> <br>
                <img src="{% if article.image %}{{ article.image.url }}{% endif %}"> <br>
                {{ article.short }} <br>
                <a href="{{ article.full_link }}">{{ "read more" }}</a><br>
            </section>
    {% endfor %}
</body>
</html>