<!DOCTYPE html>
{% extends "car_rent/base.html" %}
{% load static %}
<html lang="en">
{% block head %}
    <meta name="description" content="Page with news" />
    <meta name="author" content="Vadim Zhur">
    <meta charset="UTF-8">
    <title>{% block title %}News{% endblock %}</title>
    <link href="{% static 'base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'news.css' %}" />
{% endblock %}
{% block content %}
    <section class="news-list">
        {% for article in news %}
            <article class="article">
                <strong>{{ article.title }} </strong> <br>
                <img src="{% if article.image %}{{ article.image.url }}{% endif %}" class="scroll-image"> <br>
                <p class="short-description"> {{ article.short }} </p> <br>
                <a class="read-full" href="{{ article.full_link }}">{{ "read more" }}</a><br>
            </article>
        {% endfor %}
    </section>
<script src="{% static 'js/scrolling_animation.js'%}"></script>
{% endblock %}
</html>