<!DOCTYPE html>
{% extends "car_rent/base.html" %}
{% load static %}
<html lang="en">
{% block head %}
    <meta name="description" content="Page with privacy policy"/>
    <meta name="author" content="Vadim Zhur"/>
    <meta charset="UTF-8">
    <title>{% block title %}Privacy policy{% endblock %}</title>
    <link href="{% static 'base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'privacy_policy.css' %}" />
{% endblock %}
{% block content %}
<section class="privacy-policy">
    <p>
        {{ privacy|safe }}
    </p>
</section>
<a class="download-doc" href="/media/privacy_policy.docx" download> Download</a>
{% endblock %}
</html>