{% extends "car_rent/base.html" %}
{% load static %}
{% block head %}
    <meta name="description" content="Page with reviews">
    <meta name="author" content="Vadim Zhur">
    <meta charset="UTF-8">
    <title>{% block title %}Reviews{% endblock %}</title>
    <link href="{% static 'base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'reviews.css' %}" />
{% endblock %}
{% block content %}
<header>
    <h1 align="center">Reviews</h1>
</header>
<section itemscope itemtype="https://schema.org/Review">
    {% for review in reviews %}
        <section class="review">
            <h2 class="author" itemprop="author">{{review.author.first_name}}</h2>
            <p itemprop="reviewBody">{{review.text}}</p>
            <p id="mark" itemprop="reviewRating"> {{ review.mark }}</p>
            <section id="stars" class="stars"></section>
            <p itemprop="datePublished">{{review.date}}</p>
        </section>
        <hr/>
    {% endfor %}
    <button class="generate-stars-button" onclick="createStars()">Generate Stars</button>
    <a class="create-review" href="create/">Create review</a>
</section>
<script src="{% static 'js/stars.js'%}"></script>
{% endblock %}