<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="description" content="Page with vacancies"/>
    <meta name="author" content="Vadim Zhur"/>
    <meta charset="UTF-8"/>
    <title>Vacancies</title>
</head>
<body>
    {% for vacancy in vacancies %}
            <section class="item">
                <details>
                    <summary><strong>{{ vacancy.position }} {{ vacancy.salary }} <span>&#36;</span> </strong></summary>
                    <p>{{ vacancy.position_info }}</p>
                </details> <br>
            </section>
    {% endfor %}
</body>
</html>